//-------------------------\\
// COLOUR VARIABLES
//-------------------------\\

$base-background-color: #fff;

$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$base-font-color: $dark-gray;
