
// =============================================================================
// Colours
// =============================================================================

$text:#181818;
$text-white:#FFF;
$header-green:#0D8F52;
$footer-text:#8C8C8C;

$borders:#BEBEBE;

$green:#119356;
$blue:#4AA9E0;
$magenta:#EC154F;
$red:#D21044;
$orange:#EB5D19;
$darkblue:#01315B;


// =============================================================================
// Recommended Usage
// =============================================================================

// $clr1-light2: #FFF;
// $clr1-light1: #FFF;
// $clr1-med: #FFF;
// $clr1-dark1: #FFF;
// $clr1-dark2: #FFF;
// $clr1-dark3: #FFF;

// $clr2-light2: #FFF;
// $clr2-light1: #FFF;
// $clr2-med: #FFF;
// $clr2-dark1: #FFF;
// $clr2-dark2: #FFF;
// $clr2-dark3: #FFF;


@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
