
// =============================================================================
// Base styles
// =============================================================================

body {
	background: $base-background-color;
	color: $base-font-color;
}

// sort general image space issues
img {
	display: block;
}

// Box sizing reset
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
